.shadow-effect {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  border: 1px solid #ECECEC;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.10), 0 15px 12px rgba(0, 0, 0, 0.02);
}

#shadow-effect p {
  font-family: inherit;
  font-size: 17px;
  line-height: 1.5;
  margin: 0 0 17px 0;
  font-weight: 300;
}

#test-center {
  margin-top: 0;
}

.img-circle {
  border-radius: 50%;
  vertical-align: middle;
  max-width: 90px;
  min-height: 90px;
  transform-style: preserve-3d;
  margin: 0 auto 17px;
}

#customer-testimonoals {
  margin-top: 6%;
}

.testimonial-name {
  margin: -17px auto 0;
  display: table;
  width: auto;
  background: linear-gradient(100deg, #0167ff, #2c6ed2);
  padding: 4px 45px;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.12), 0px 5px 7px rgba(0, 0, 0, 0.5);
}

#customer-testimonoals .item {
  text-align: center;
  padding: 50px;
  padding-top: 0;
  margin-bottom: 0px;
  opacity: 0.2;
  transform: scale3d(0.8, 0.8, 1);
  transition: all 0.3s ease-in-out;
}

#customer-testimonoals .owl-item.active.center .item {
  opacity: 1;
  transform: scale3d(1.0, 1.0, 1);
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots span {
  background-color: #4154f1;
  transform: translate3d(0px, -50%, 0px) scale(0.5);
}

.owl-carousel .owl-dots {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
}

.owl-carousel .owl-dots .owl-dot span {
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 2px 5px;
  transform: translate3d(0px, -50%, 0px) scale(0.5);
  transform-origin: 50% 50% 0;
  transition: all 250ms ease-out 0s;
}
@media(max-width:399px){
  #customer-testimonoals .item {
    padding: 15px;
  }
  .testimonial-name  {
    padding: 5px 15px;
  }
  .testimonial-name h5, .testimonial-name small {
    font-size: 0.9rem;
  }
}
@media(max-width:600px) {
  #customer-testimonoals .item {
    padding: 30px;
  }
  .testimonial-name  {
    padding: 5px 35px;
  }
}